# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu

parmed=3.4.3
python=3.10.5
numpy>=1.22.4
openmm>=7.7.0
parmed>=3.4.3
git>=2.37.3
mdanalysis>=2.2.0
matplotlib>=3.5.3
pandas>=1.4.4
numba>=0.55.2
mdtraj>=1.9.7
scipy>=1.9.1
PeptideBuilder
biopython